body {
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #e282dd;
    font-family: monospace;
}

/** HEADER **/
#header-nav {
    background-color: #6ee437;
    border-radius: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    /* Restaurant name */
    font-family: "Lora", serif;
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 0;
    margin-bottom: 0;
}
#nav-list a {
    color: #000000;
    text-align: center;
}
#nav-list a:hover {
    background: #9c9a9a;
}

#nav-list li {
    border-top: 2px solid black;
}

#nav-list li:nth-child(2) {
    margin-bottom: 3px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid #000000;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
/* END HEADER */

/* Body */
#main-content {
    max-width: 100%;
    margin: auto;
}
#menu {
    font-weight: bold;
}
.menu-item-tile {
    margin-top: 25px;
    margin-bottom: 25px;
}
.menu-item-title {
    background-color: rgb(204, 199, 199);
}

.menu-item-title span {
    color: brown;
    font-size: 1.5em;
    font-weight: bold;
}

.menu-item-detail {
    padding: 10px;
    background-color: rgb(204, 199, 199);
}

.menu-item-detail span a {
    text-decoration: underline;
}

.menu-item-detail span a:hover {
    color: greenyellow;
}
/* End Body */
